/* index.css or App.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
  /* Set the background color to black */
  @apply bg-black;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

h1 {
  @apply text-3xl;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", monospace;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100vh;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/* section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
} */
