/* index.css or App.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* Set the background color to black */
  @apply bg-black;
  font-family: "Poppins", monospace;
}

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
}

.logo,
.nav-item {
  margin: 2em;
  font-weight: 400;
  font-size: 1.2rem;
}

h1 {
  @apply text-white;
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1;
}

@media (min-width: 48em) {
  /* Apply styles for md and larger screens (md and up) */
  h1 {
    font-size: 5rem; /* Change font size to 3rem for md and larger screens */
  }
}

::-webkit-scrollbar {
  display: none;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
  transform-origin: top;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111111;
  transform-origin: top;
}
